@media (min-width: 786px) and (max-width: 1000px){
    .banner-area h2{
        font-size: 3.5em;
    }
    .banner-area2 h2{
        font-size: 3.5em;
    }
}
@media (min-width: 576px) and (max-width: 786px){
    .banner-area h2{
        font-size: 3.0em;
    }
    .banner-area2 h2{
        font-size: 3.0em;
    }
}
@media (max-width: 575.98px){
    .banner-area h2{
        font-size: 2.5em;
    }
    .banner-area2 h2{
        font-size: 2.5em;
    }
}